body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 1px solid blue;
    padding: 0;
    width: 15px;
    height: 15px;
}

/* block colors */

.red-block {
    background-image: conic-gradient(red, darkred, red);
}

.green-block {
    background-image: conic-gradient(#009c0d, darkgreen, #009c0d);
}

/* Svitlana - add three more block colors below */
.blue-block {
    background-image: conic-gradient(blue, darkblue, blue);
}

.gray-block {
    background-image: conic-gradient(rgb(95, 95, 95), rgb(59, 59, 59), rgb(95, 95, 95));
}

.yellow-block {
    background-image: conic-gradient(yellow, goldenrod, yellow);
}

.orange-block {
    background-image: conic-gradient(rgb(255, 132, 0), rgb(211, 91, 0), rgb(255, 132, 0));
}

.purple-block {
    background-image: conic-gradient(rgb(105, 21, 151), rgb(47, 3, 79), rgb(105, 21, 151));
}