body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

h1 {
    text-align: center;
    font-size: 34pt;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(#eee, #333);
    background-clip: text;
}

table {
    position: relative;
    border: 2px solid #0b2263;
    border-collapse: collapse;
    margin: 20px auto;
}

table::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
    font-weight: bold;
    color: #000;
    opacity: 0.6;
    background-color: rgb(124, 62, 62);
    width: 100%;
    text-align: center;
    pointer-events: none;
    height: 100%;
    line-height: 200px;
    z-index: 1;
}
table.paused::before {
    content: 'PAUSED';
}
table.ended::before {
    content: 'GAME OVER';
}

tr td::before {
    background-color: #ffea00;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s ease;
}
tr.filled-row td::before {
    height: 100%;
    transition: height 0.3s ease;
}

td {
    position: relative;
    border: 1px solid #e1e1ee;
    padding: 0;
    width: 18px;
    height: 18px;
}

/* block colors */

.red-block {
    background-image: conic-gradient(red, darkred, red);
}

.green-block {
    background-image: conic-gradient(#009c0d, darkgreen, #009c0d);
}

.blue-block {
    background-image: conic-gradient(blue, darkblue, blue);
}

.gray-block {
    background-image: conic-gradient(rgb(95, 95, 95), rgb(59, 59, 59), rgb(95, 95, 95));
}

.yellow-block {
    background-image: conic-gradient(yellow, goldenrod, yellow);
}

.orange-block {
    background-image: conic-gradient(rgb(255, 132, 0), rgb(211, 91, 0), rgb(255, 132, 0));
}

.purple-block {
    background-image: conic-gradient(rgb(105, 21, 151), rgb(47, 3, 79), rgb(105, 21, 151));
}