body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    border: 1px solid blue;
    padding: 0;
    width: 15px;
    height: 15px;
}

/* block colors */

.red-block {
    background-image: conic-gradient(red, darkred, red);
}

.green-block {
    background-image: conic-gradient(#009c0d, darkgreen, #009c0d);
}

/* Svitlana - add three more block colors below */